/* Style for overall website */
html{
  background: white;
}

/* Style for body */
body {
  margin: 0vw;
}

/* Grid system has been created below */
.grid-container {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 27vw 7vw 3vw 50vw 0vw 13vw;
}

/* Style for header, which contains the grid system for the navigation bar */
.header {
	background-color: lightblue;
	grid-column: 1 / span 2;
	grid-row: 1;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 4.25vw;
}

/* Style for nav (navigation) */
.nav {
	box-sizing: border-box;
	background: #000;
	opacity: ;
	grid-column: 1 / span 2;
	grid-row: 1;
	z-index: 1;
}

/* Style for search_content - search system */
.search_content{
	background: #ffb282;
	opacity: ;
	font-size: 1.1vw;
	margin: 0vw 0vw 0vw 0vw;
	grid-column: 1 / span 2;
	grid-row: 2;
	display: grid;
	z-index: 1;
}

/* Style for text input */
input[type=text] {
  	border: none;
	outline: none;
	font-size: 1.2vw;
}

/* Style for submit button */
.button {
  	border: none;
	outline: none;
	font-size: 1.2vw;
}

.button:hover {
	background-color: #424242;
	transition: 0.23s ease-in-out;
	cursor: pointer;
}


/* Style for total_duration */
.total_duration{
	background: #ccb0f7;
	opacity: ;
	font-size: 1.1vw;
	margin: 0vw 0vw 0vw 0vw;
	grid-column: 1 / span 2;
	grid-row: 3;
	display: grid;
	z-index: 1;
}

/* Style for content_1, which contains the grid system for the query row heading */
.content_1 {
	background: white;
	opacity: ;
	font-size: 1.1vw;
	margin: 0vw 0vw 0vw 0vw;
	grid-column: 1 / span 2;
	grid-row: 4;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 3vw;
	position: relative;
}

/* Style for space_1, which creates space between contents */
.space_1{
	background: black;
	opacity: ;
	font-size: 1.1vw;
	margin: 0vw 0vw 0vw 0vw;
	grid-column: 1 / span 2;
	grid-row: 5;
	display: grid;
	z-index: 1;
}

/* Style for footer for legal statements */
.footer{
	background: #beedab;
	opacity: ;
	font-size: 1.1vw;
	margin: 0vw 0vw 0vw 0vw;
	grid-column: 1 / span 2;
	grid-row: 6;
	display: grid;
	z-index: 1;
}
