/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* Style for overall website */
html{
	background: #121416;
	scroll-behavior: smooth;
}

/* Style for body */
body {
	margin: 0vw;
}

/* Grid system has been created below */
.grid-container {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 53vw 14vw 0.3vw 5.5vw 50vw 30vw 14.5vw;
}

/* Style for loading screen */
.loading_screen{
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	z-index: 500;
	align-items: center;
	justify-content: center;
	background: #121416;
	transition: all 0.5s;
}

/* Style for Zeta logo animation on load */
.zoom-in-out-box {
	align-items: center;
	justify-content: center;
	background: #121416;
	animation: zoom-in-zoom-out 1s ease infinite;
}

@keyframes zoom-in-zoom-out {
	0% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1.5, 1.5);
	}
	100% {
		transform: scale(1, 1);
	}
}

/* Style for fonts */
h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 5vw;
	color: #fff;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 3.3vw;
	color: #fff;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 2.5vw;
	color: #3d99b8;
}

p {
	font-family: 'Noto Sans', sans-serif;
	font-size: 1.2vw;
	color: #fff;
}

/* Style for header, which contains the grid system for the navigation bar */
.header {
	background-color: #242424;
	grid-column: 1 / span 2;
	grid-row: 1;
	display: grid;
	grid-template-columns: 17vw auto;
	grid-template-rows: 4.25vw 25vw 10vw;
}

/* Style for header text */
.headertext {
	background-color: transparent;
	width: 65vw;
	grid-column: 1 / span 2;
	grid-row: 2;
}

/* Style for header text */
.headertext2 {
	padding-top: 2vw;
	background-color: transparent;
	width: 19.9vw;
	margin-left: 6vw;
	grid-column: 1 / span 2;
	grid-row: 3;
}

/* Style for submit input - browse now button */
input[type=submit] {
	border: 0.2vw solid #fff;
	border-radius: 2vw;
	outline: none;
	font-family: 'Roboto', sans-serif;
	background-color: transparent;
	color: #fff;
}

input[type=submit]:hover {
	background-color: #121416;
	transition: 0.23s ease-in-out;
	cursor: pointer;
}

/* Style for logo box/ logo */
.logo {
	box-sizing: border-box;
	background: #121416;
	opacity: ;
	grid-column: 1;
	grid-row: 1;
	z-index: 99;
	display: grid;
	grid-template-columns: 17vw;
	grid-template-rows: 4.25vw;
}

/* Style for logo box/ logo */
.logo2 {
	box-sizing: border-box;
	text-align: center;
	background: #121416;
	opacity: ;
	grid-column: 1;
	grid-row: 1;
	z-index: 99;
}

.logo2 ul {
	display: inline;
	margin: 0vw 0vw 0vw 0vw;
	list-style: none;
}

.logo2 ul li {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2vw;
	position: absolute;
	margin: 1.5vw 1.1vw 1vw 3.2vw;
	transition: 0.5s;
}

/* Style for navigation */
.nav {
	box-sizing: border-box;
	background: #121416;
	opacity: ;
	grid-column: 2 / span 2;
	grid-row: 1;
	z-index: 1;
}

.nav ul {
	display: inline;
	margin: 0vw 0vw 0vw 5vw;
	list-style: none;
	float: right;
	margin-right: 6.8vw;
}

.nav ul li {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2vw;
	display: inline-block;
	position: relative;
	margin-right: 0vw;
	padding: 1.5vw 1.1vw 1vw 1.1vw;
	transition: 0.5s;
}

ul li:hover {
	transform: scale(1.1, 1.1);
	transition: 0.5s;
}

a:link{color:#FFFFFF;}
a:visited{color:#FFFFFF;}
a:hover{color:#FFFFFF;}
a:active{color:#FFFFFF;}

a {
	text-decoration: none;
}

/* Style for navigation underline effect */
.hover-underline-animation {
	display: inline-block;
	position: relative;
	color: #fff;
}

.hover-underline-animation:after {
	content: '';
	position: absolute;
	width: 74.5%;
	transform: scaleX(0);
	height: 0.11vw;
	bottom: 0.8vw;
	left: 1vw;
	background-color: #fff;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

/* Style for search content - search system*/
#search_content {
	background: #121416;
	opacity: ;
	margin: 0vw 0vw 0vw 0vw;
	padding: 2.7vw 0vw 0vw 0vw;
	grid-column: 1 / span 2;
	grid-row: 2;
	z-index: 2;
}

/* Style for text input */
input[type=text] {
	width: 49vw;
	height: 2.6vw;
	margin: 3.4vw 0vw 0vw 0vw;
  	border: none;
	font-size: 1.1vw;
	padding-left: 0.8vw;
	padding-right: 0.8vw;
	padding-top: 0.17vw;
}

/* Style for submit button */
.button {
	height: 3.33vw;
	width: 6.5vw;
	margin-top: -3vw;
	background-color: #3d99b8;
  	border: none;
	outline: none;
	font-size: 1.1vw;
	color: #fff;
	padding-left: 0.8vw;
	padding-right: 0.8vw;
	padding-top: 1vw;
}

.button:hover {
	background-color: #66bd76;
	transition: 0.23s ease-in-out;
	cursor: pointer;
}

/* Style for line separator */
.line {
	background: #808080;
	opacity: ;
	margin: 0vw 16vw 0vw 16vw;
	padding: 0vw 0vw 0vw 0vw;
	grid-column: 1 / span 2;
	grid-row: 3;
}

/* Style for space_1, which creates space between contents */
.space_1 {
	background: #121416;
	opacity: ;
	grid-column: 1 / span 2;
	grid-row: 4;
	z-index: 2;
}

/* Style for content_1, which contains the grid system for the genre, song and artist covers' classes */
.content_1 {
	background: #121416;
	opacity: ;
	font-size: 1.1vw;
	margin: 0vw 16vw 0vw 16vw;
	grid-column: 1 / span 2;
	grid-row: 5;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 20vw 0.7vw 20vw;
	z-index: 1;
}

/* Style for content_genre, which contains the grid system to hold the genre covers/ images */
.content_genre {
	background: #121416;
	opacity: ;
	margin: 0vw 0vw 0vw 0vw;
	grid-column: 1;
	grid-row: 1;
	display: grid;
	grid-template-columns: 0.5fr 2.7vw 0.5fr 2.7vw 0.5fr 2.7vw 0.5fr;
	grid-template-rows: 6vw 11.2vw;
	z-index: 1;
}

.genretext {
	background: #121416;
	opacity: ;
	grid-column: 1 / span 7;
	grid-row: 1;
	z-index: 1;
}

.genre1 {
	box-sizing: border-box;
	background: #242424;
	opacity: ;
	position: relative;
	grid-column: 1;
	grid-row: 2;
	z-index: 1;
}

.genre1:hover img{
	transform: scale(1.1, 1.1); 
	transition: 0.6s;
}

.genre1, img {
	transition: 0.6s;
}

.genre2 {
	box-sizing: border-box;
	background: #242424;
	opacity: ;
	position: relative;
	grid-column: 3;
	grid-row: 2;
	z-index: 1;
}

.genre2:hover img{
	transform: scale(1.1, 1.1); 
	transition: 0.6s;
}

.genre2, img {
	transition: 0.6s;
}

.genre3 {
	box-sizing: border-box;
	background: #242424;
	opacity: ;
	position: relative;
	grid-column: 5;
	grid-row: 2;
	z-index: 1;
}

.genre3:hover img{
	transform: scale(1.1, 1.1); 
	transition: 0.6s;
}

.genre3, img {
	transition: 0.6s;
}

.genre4 {
	box-sizing: border-box;
	background: #242424;
	opacity: ;
	position: relative;
	grid-column: 7;
	grid-row: 2;
	z-index: 1;
}

.genre4:hover img{
	transform: scale(1.1, 1.1); 
	transition: 0.6s;
}

.genre4, img {
	transition: 0.6s;
}

/* Style for content_playlist, which contains the grid system to hold the playlist images */
.content_playlist {
	background: #121416;
	opacity: ;
	margin: 0.5vw 0vw 0vw 0vw;
	grid-column: 1;
	grid-row: 3;
	display: grid;
	grid-template-columns: 0.5fr 2.7vw 0.5fr 2.7vw 0.5fr 2.7vw 0.5fr;
	grid-template-rows: 6vw 11.2vw;
	z-index: 1;
}

.playlisttext {
	background: #121416;
	opacity: ;
	grid-column: 1 / span 7;
	grid-row: 1;
	z-index: 1;
}

.playlist1 {
	box-sizing: border-box;
	background: #242424;
	opacity: ;
	position: relative;
	grid-column: 1;
	grid-row: 2;
	z-index: 1;
}

.playlist1:hover img{
	transform: scale(1.1, 1.1); 
	transition: 0.6s;
}

.playlist1, img {
	transition: 0.6s;
}

.playlist2 {
	box-sizing: border-box;
	background: #242424;
	opacity: ;
	position: relative;
	grid-column: 3;
	grid-row: 2;
	z-index: 1;
}

.playlist2:hover img{
	transform: scale(1.1, 1.1); 
	transition: 0.6s;
}

.playlist2, img {
	transition: 0.6s;
}

.playlist3 {
	box-sizing: border-box;
	background: #242424;
	opacity: ;
	position: relative;
	grid-column: 5;
	grid-row: 2;
	z-index: 1;
}

.playlist3:hover img{
	transform: scale(1.1, 1.1); 
	transition: 0.6s;
}

.playlist3, img {
	transition: 0.6s;
}

.playlist4 {
	box-sizing: border-box;
	background: #242424;
	opacity: ;
	position: relative;
	grid-column: 7;
	grid-row: 2;
	z-index: 1;
}

.playlist4:hover img{
	transform: scale(1.1, 1.1); 
	transition: 0.6s;
}

.playlist4, img {
	transition: 0.6s;
}

/* Style for hover text */
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .6s ease;
	background-color:rgba(0, 0, 0, 0.2);
}

.playlist1:hover .overlay {
	opacity: 1;
}

.playlist2:hover .overlay {
	opacity: 1;
}
.playlist3:hover .overlay {
	opacity: 1;
}

.playlist4:hover .overlay {
	opacity: 1;
}

.genre1:hover .overlay {
	opacity: 1;
}

.genre2:hover .overlay {
	opacity: 1;
}
.genre3:hover .overlay {
	opacity: 1;
}

.genre4:hover .overlay {
	opacity: 1;
}

.text {
	font-family: 'Roboto', sans-serif;
	font-size: 1.3vw;
	color: #fff;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* Style for promotion_header for Graeme's two playlists */
.promotion_header {
	background: rgb(54,122,191);
	background: linear-gradient(90deg, rgba(54,122,191,1) 0%, rgba(162,204,246,1) 100%);
	opacity: ;
	grid-column: 1 / span 2;
	grid-row: 6;
	z-index: 1;
	display: grid;
	grid-template-columns: 47vw 15.4vw 7vw 17.4vw;
	grid-template-rows: 30vw;
}

.promotiontext1{
	background: transparent;
	grid-column: 1;
	grid-row: 1;
}

.promotiontext2{
	background: transparent;
	padding-top: 13.7vw;
	grid-column: 2;
	grid-row: 1;
}

.promotiontext3{
	background: transparent;
	padding-top: 13.35vw;
	padding-left: 2.5vw;
	grid-column: 3;
	grid-row: 1;
}

.promotiontext4{
	background: transparent;
	padding-top: 13.7vw;
	grid-column: 4;
	grid-row: 1;
}

.promotion_header a:hover {
	text-decoration: underline;
	color: #fff;
}

/* Style for submit input - promo header */
.promotion_header input[type=submit] {
	border: 0.2vw solid #fff;
	border-radius: 2vw;
	outline: none;
	font-family: 'Roboto', sans-serif;
	background-color: transparent;
	color: #fff;
}

.promotion_header input[type=submit]:hover {
	background-color: #0e2557;
	transition: 0.23s ease-in-out;
	cursor: pointer;
}

/* Style for footer for legal statements */
.footer{
	background: #242424;
	opacity: ;
	grid-column: 1 / span 2;
	grid-row: 7;
	display: grid;
	z-index: 1;
}

/* Style for back to top button */
#back_to_top_btn1:hover img{
	transform: scale(1.1, 1.1); 
	transition: 0.5s;
	cursor: pointer;
}
