/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* Style for overall website */
html{
	background: #121416;
}

/* Style for body */
body {
	margin: 0vw;
	height: 100%; 
	overflow: hidden;
}

/* Grid system has been created below */
.grid-container {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 4.25vw 48.3vw;
	height: 100vh;
}

/* Style for fonts */
h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 4.3vw;
	color: #fff;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 3vw;
	color: #fff;
}

/* Style for nav (navigation) */
.nav {
	box-sizing: border-box;
	opacity: ;
	grid-column: 1 / span 2;
	grid-row: 1;
	display: grid;
	grid-template-columns: 17vw auto;
	grid-template-rows: 4.25vw;
	z-index: 1;
}

/* Style for logo box/ logo */
.logo {
	box-sizing: border-box;
	background: #121416;
	opacity: ;
	grid-column: 1;
	grid-row: 1;
	z-index: 99;
	display: grid;
	grid-template-columns: 17vw;
	grid-template-rows: 4.25vw;
}

/* Style for logo box/ logo */
.logo2 {
	box-sizing: border-box;
	text-align: center;
	background: #121416;
	opacity: ;
	grid-column: 1;
	grid-row: 1;
	z-index: 99;
}

.logo2 ul {
	display: inline;
	margin: 0vw 0vw 0vw 0vw;
	list-style: none;
}

.logo2 ul li {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2vw;
	position: absolute;
	margin: 1.5vw 1.1vw 1vw 3.2vw;
	transition: 0.5s;
}

ul li:hover {
	transform: scale(1.1, 1.1);
	transition: 0.5s;
	text-decoration: underline;
}

.logo a:link{color:#FFFFFF;}
.logo a:visited{color:#FFFFFF;}
.logo a:hover{color:#FFFFFF;}
.logo a:active{color:#FFFFFF;}

/* Style for content_1, which contains the grid system for the login box and header */
.content_1 {
	background: lightblue;
	opacity: ;
	font-size: 1.1vw;
	margin: 0vw 0vw 0vw 0vw;
	grid-column: 1 / span 2;
	grid-row: 2;
	display: grid;
	grid-template-columns: auto 70.7vw;
	grid-template-rows: auto;
	z-index: 1;
}

/* Style for login box */
.login_box {
	background: #121416;
	box-sizing: border-box;
	position: relative;
	grid-column: 1;
	grid-row: 1;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 13vw 24.5vw 10.8vw;
}

/* Style for login text */
.logintext {
	box-sizing: border-box;
	position: relative;
	margin-left: 4vw;
	margin-right: 4vw;
	grid-column: 1;
	grid-row: 1;
}

/* Style for login fields */
.loginfields {
	box-sizing: border-box;
	position: relative;
	margin-left: 4vw;
	margin-right: 4vw;
	grid-column: 1;
	grid-row: 2;
}

/* Style for text input */
input[type=text] {
	padding-left: 0.4vw;
	padding-right: 0.4vw;
	background: transparent;
	border: none;
  	border-bottom: 0.25vw solid #808080;
	outline: none;
	font-size: 1.2vw;
}

/* Style for password input */
input[type=password] {
	padding-left: 0.4vw;
	padding-right: 0.4vw;
	background: transparent;
	border: none;
  	border-bottom: 0.25vw solid #808080;
	outline: none;
	font-size: 1.2vw;
}

/* Style for submit input */
input[type=submit] {
	border: none;
	outline: none;
	font-family: 'Roboto', sans-serif;
	font-size: 1.3vw;
	background-color: #3d99b8;
	color: #fff;
}

input[type=submit]:hover {
	background-color: #66bd76;
	transition: 0.23s ease-in-out;
	cursor: pointer;
}

/* Style for checkbox input */
input[type=checkbox] {
	margin: 0.1vw 0vw 0vw 0.4vw;
	width: 1vw;
	height: 1vw;
}

/* Style for links */
a {
	text-decoration: none;
	color: #0000ee;
}

.login_box a:hover {
	text-decoration: underline;
}

/* Style for message box */
.message {
	box-sizing: border-box;
	position: relative;
	margin-left: 4vw;
	margin-right: 4vw;
	grid-column: 1;
	grid-row: 3;
}

/* Style for header */
.header {
	padding: 0.5vw 0vw 0vw 6vw;
	grid-column: 2;
	grid-row: 1;
}
